<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zy.applet.mapper.CrityMapper">
    <select id="findCrity" resultType="com.zy.applet.pojo.Crity">
        SELECT * FROM crity
    </select>

    <select id="findCityInfo" resultType="java.lang.String">
        SELECT `intro` FROM `crity_info` WHERE `crity_name` = #{crity} AND `intro` IS NOT NULL
    </select>

    <select id="findCityMainPicture" resultType="java.lang.String">
        SELECT `main_picture` FROM `crity_info` WHERE `crity_name` = #{crity} AND `main_picture` IS NOT NULL
    </select>
    <!--查询城市生活-->
    <select id="findCrityLife" resultType="java.lang.String">
        SELECT `life` FROM `crity_info` WHERE `crity_name` = #{crity} AND `life` IS NOT NULL
    </select>
</mapper>
