<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zy.applet.mapper.TravelMapper">
    <!--查询城市的旅游信息-->
    <select id="findListTravel" resultType="com.zy.applet.pojo.Travel">
        SELECT * FROM `applet_travel` WHERE `crity` = #{crity}
    </select>
</mapper>
