<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zy.applet.mapper.UserAddressMapper">
    <select id="selectUserAddressByOpenid" resultType="com.zy.applet.pojo.UserAddress">
        SELECT * FROM `user_address` WHERE `openid` = #{openid} AND `is_default` = #{isDefault} AND `address_flag` = 1
    </select>

    <insert id="insterUserAddress" parameterType="com.zy.applet.pojo.UserAddress">
        INSERT INTO `user_address` (`openid`,`name`,`phone`,`address`,`is_default`,`address_flag`,`create_date`,`update_date`)
        VALUES (#{openid},#{name},#{phone},#{address},#{isDefault},#{addressFlag},#{createDate},#{updateDate})
    </insert>

    <select id="selectUserAddressById" resultType="com.zy.applet.pojo.UserAddress">
        SELECT * FROM `user_address` WHERE `id` = #{id}
    </select>
</mapper>
